.tip-container{
    margin: 40px 0;
}
.tip-container label{
    color: var(--dark-grayish-cyan);
}
.tip-container ul{
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem 0;
}
.tip-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--very-dark-cyan);
    width: 120px;
    height: 40px;
}
.tip-container ul li:hover{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}
li input{
    border-radius: inherit;
    color: var(--very-dark-cyan);
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    text-align: center;
    background: var(--very-light-grayish-cyan);
    border: none;
    height: inherit;
    width: inherit;
}
li input::-webkit-inner-spin-button,
li input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
li input::placeholder{
    text-align: center;
}
li input:focus{
    outline: 2px solid var(--strong-cyan);
}
.tip-container ul li.selected {
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
}

@media (max-width: 960px) {
    .tip-container ul{
      justify-content: center;
      gap: 1rem;
    }
  }